.additem {
  display: flex;
  justify-content: center;
}

.additem-content {
  padding-right: 0.25rem;
}

.additem-button {
  background: #30475e;
  background-color: #30475e;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  padding: 0.3rem 1.5rem;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  outline: none;
}

.additem-button:hover {
  background-color: #456788;
}

.additem-button:disabled {
  opacity: 0.7;
  cursor: auto;
  background: #b9b9b9;
}

.additem-button:active {
  position: relative;
  top: 1px;
}
