.item {
  padding: 8px;
  display: grid;
  grid-template-columns: 0.5fr 4fr 0.5fr 0.5fr;
  grid-column-gap: 4px;
  align-items: center;
}

.item:nth-child(odd) {
  background: #f1f1f1;
}

.item-disabled {
  text-decoration: line-through;
  opacity: 0.5;
}

.item-button {
  border: none;
  outline: none;
  cursor: pointer;
  background:none;
}

.item-button:disabled {
   opacity: .5;
  }
