.item {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 0.5fr 4fr 0.5fr 0.5fr;
  grid-column-gap: 0.25rem;
  align-items: center;
}

.item:nth-child(odd) {
  background: #ececec;
}

.item-disabled {
  text-decoration: line-through;
  opacity: 0.5;
}

.item-button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}

.item-button:disabled {
  opacity: 0.5;
}

.item-button:active {
  position: relative;
  top: 1px;
}
