@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  html {
    font-size: 12px;
  }
}

body {
  margin: 0;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Roboto;
}
input {
  outline: none;
}
input[type='text'] {
  font-size:1rem;
  padding: 0.38rem;
  border: none;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  width: 11.25rem;
}

input[type='image']:disabled {
  opacity: 0.5;
}
